.preview {

}




ng-container{
  display: flex;
  mat-card{
    width: 100px !important;
    height: 100px !important;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    img{
      width: 100px;
    }
  }
}
